.root {
  display: flex;
  overflow: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  width: 100%;
}

.overview {
  margin: 20px 0;
}

.info {
  margin-bottom: 20px;
}
