.root {
  display: flex;
  overflow: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}

.overview {
  margin: 20px 0;
}

.root .btn {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--white);
  width: 100%;
}
