.root {
  position: fixed;
  z-index: var(--z-index-modal);
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  animation: fadeIn 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
