.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
