.root {
  display: flex;
  align-items: center;

  background-color: var(--white);
  padding: 8px 16px;
  border-radius: 8px;
}

.input {
  padding: 0;
  margin: 0;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
}

.input:focus {
  outline: none;
}

.icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-3992eb97b2b749f09793f9653407c499aa896d99535cb35cc66682d26a49df13.svg");
  background-repeat: no-repeat;
  background-position: center;
}
