.root {
  padding-top: 20px;
  padding-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
}

.action {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
