.root {
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
}
